<!-- Article image links -->
<div class="container text-center top-margin">
  <div class="row">
    <ul class="article-image-list">
      <% @other_posts.each do |post| %>
        <li>
          <div class="col-md-3 article-images">
            <%= link_to image_tag(post.header_image), post_path(:id => post.id)  %>
            <p class="article-text"><%= post.title %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
