// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.headline {
  color: white;
}

#posts.index .header-image {
  background-image: image_url("space_1.jpg");
}

.image-post-link {
  position: relative;
  overflow: hidden;
}

.social-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
  }

  li+li {
    padding-left: 4px;
    border-left: 1px solid #666;
  }

}
